* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
}

input, button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

button, input[type=submit] {
  background: none;
  cursor: pointer;
}

input:focus, button:focus {
  outline: none;
}

ul, li, a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

html, body {
  font-family: "Nunito Sans", sans-serif;
  color: #757575;
  font-size: 16px;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 1294px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
  width: 100%;
}

.logo_pic {
  width: 100%;
  max-width: 200px;
}

.navigation-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 900;
  color: black;
}
.navigation-list li {
  margin-right: 60px;
}
.navigation-list li:last-child {
  margin-right: 0;
}
.navigation-list a {
  color: inherit;
}
.navigation-list a:hover {
  color: #2436e0;
}

.header {
  overflow: hidden;
  padding-bottom: 130px;
}

.header_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header_text {
  position: relative;
  width: 100%;
  max-width: 500px;
}

p {
  line-height: 2;
}

.header_title {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 40px;
  line-height: 1.4;
  color: black;
}

.header_img {
  position: relative;
}
.header_img .pic {
  border-radius: 0 0 0 116px;
  margin-right: -115px;
}
.header_img .ellipse {
  position: absolute;
  left: -60px;
  z-index: -1;
}
.header_img .rectangle {
  position: absolute;
  bottom: -100px;
  right: 0;
  z-index: -1;
}

.header_btm {
  padding: 20px 40px;
  margin-top: 35px;
  background-color: #2436E0FF;
  border-radius: 60px;
  color: #ffffff;
  font-weight: 900;
  font-size: 20px;
  position: absolute;
  z-index: 10;
}

.header_btm:hover {
  background-color: #1F2FCBFF;
}

.dot_ornament_header {
  display: block;
  position: absolute;
  left: -50px;
  bottom: -175px;
  z-index: 1;
}

.clients {
  padding-bottom: 130px;
}

.clients_row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.clients_row img {
  margin-left: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.clients_row img :first-child {
  margin-left: 0;
}

.clients_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.clients_icon img:last-child {
  margin-top: 22px;
}

.clients_text {
  width: 420px;
}

.section_title {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 1.4;
  color: black;
  margin-bottom: 10px;
}

.section_subtitle {
  font-size: 18px;
}

.benefits {
  padding-bottom: 161px;
  overflow: hidden;
}

.benefits_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
}

.benefits_text {
  position: relative;
  width: 400px;
}
.benefits_text .rectangle {
  position: absolute;
  left: -50px;
  top: -56px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: -1;
}
.benefits_text .dot_ornament {
  position: absolute;
  top: 280px;
  z-index: -1;
}

.benefits_card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 35px 2fr;
  grid-template-columns: repeat(2, 2fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 35px;
  margin-right: 51px;
}

.benefits_card > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.benefits_card > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.bg_card {
  position: absolute;
  top: 132px;
  right: -119px;
  z-index: -1;
}

.card_item {
  width: 100%;
  max-width: 308px;
  height: 379px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 40px;
  -webkit-box-shadow: 0 10px 50px 0 #00000012;
          box-shadow: 0 10px 50px 0 #00000012;
  background: white;
}

.card_title {
  color: #000;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  margin-top: 30px;
  font-weight: 900;
  padding: 0 40px;
}

.card_subtitle {
  text-align: center;
  margin-top: 20px;
  padding: 0 20px;
}

.img_block {
  padding: 24px 24px;
  background: var(--bg);
  border-radius: 20px;
}

.grid_1 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2/6;
}

.grid_2 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
}

.grid_3 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 6;
  -ms-grid-row-span: 3;
  grid-row: 6/9;
}

.grid_4 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 5;
  -ms-grid-row-span: 4;
  grid-row: 5/9;
}

.pink_ellipse_card {
  position: absolute;
  bottom: 52px;
  right: 0;
  z-index: -2;
}

.awards {
  padding-bottom: 130px;
}

.awards_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
}

.awards_text {
  width: 565px;
  position: relative;
}
.awards_text img {
  position: absolute;
  top: -10px;
  left: -31px;
  z-index: -1;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.yellow_ellipse_awards {
  position: absolute;
  bottom: -62px;
  left: 38%;
  z-index: -1;
}

.awards_video_content {
  -webkit-box-shadow: 1px 0 50px 8px #0000002b;
          box-shadow: 1px 0 50px 8px #0000002b;
}

.reviews {
  padding-bottom: 100px;
}

.reviews_text {
  text-align: center;
}

.reviews_row {
  width: 100%;
}

.reviews_catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 96px;
}

.catalog {
  width: 348px;
}

.catalog_active_row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.active_img img {
  border-radius: 0 161px 0 161px;
}

.active_text {
  width: 412px;
  margin-left: 45px;
}
.active_text h3 {
  font-size: 24px;
  font-weight: 900;
  color: black;
}
.active_text p {
  font-weight: 1.2;
  margin-top: 20px;
}

.dot_mini_gray_active {
  position: absolute;
  top: -35px;
  left: 246px;
  z-index: -1;
}

.pink_ellipse_active {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.catalog_inner {
  width: 349px;
  position: relative;
}

.catalog_grid {
  position: relative;
  width: 348px;
  height: 355px;
}

.catalog_grid_1 {
  position: absolute;
  top: 18%;
  right: 35px;
}

.catalog_grid_2 {
  position: absolute;
  left: 40%;
}

.catalog_grid_3 {
  position: absolute;
  top: 41%;
  right: 0;
}

.catalog_grid_4 {
  position: absolute;
  left: 0;
  bottom: 20%;
}

.catalog_grid_5 {
  position: absolute;
  top: 50px;
}

.catalog_grid_6 {
  position: absolute;
  left: 35%;
  top: 29%;
}

.catalog_grid_7 {
  position: absolute;
  bottom: 0;
  left: 28%;
}

.catalog_grid_8 {
  position: absolute;
  right: 44px;
  bottom: 17%;
}

.catalog_img {
  position: absolute;
  top: 23%;
  left: 25px;
  z-index: -1;
}

.subscribe_row {
  width: 100%;
  height: 272px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 75px;
  position: relative;
  z-index: 1;
}

.subscribe_bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
}

.subscribe_img_bg {
  position: absolute;
  bottom: -39px;
  left: -39px;
  z-index: -2;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.subscribe_row::after {
  content: "";
  width: 175px;
  height: 154px;
  background: url("/img/dot_sub.svg") no-repeat;
  position: absolute;
  right: -39px;
  top: -39px;
  z-index: -2;
}

.subscribe_text {
  width: 55%;
  text-align: center;
}

.subscribe_form {
  width: 45%;
}

.subscribe_form:after {
  content: "";
  width: 461px;
  height: 272px;
  background: url("/img/rectangle_blue.svg") no-repeat;
  background-size: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.form {
  background: #ffffff;
  -webkit-box-shadow: 10px 20px 50px 0 #00000026;
          box-shadow: 10px 20px 50px 0 #00000026;
  border: 1px solid #F1F1F1;
  border-radius: 60px;
  width: 100%;
  max-width: 479px;
  height: 80px;
}

.form_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 32px;
  height: 100%;
}

.form_input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 15px;
}
.form_input::-webkit-input-placeholder {
  width: 100%;
  color: #959595;
}
.form_input::-moz-placeholder {
  width: 100%;
  color: #959595;
}
.form_input:-ms-input-placeholder {
  width: 100%;
  color: #959595;
}
.form_input::-ms-input-placeholder {
  width: 100%;
  color: #959595;
}
.form_input::placeholder {
  width: 100%;
  color: #959595;
}

.form_btn {
  display: inline-block;
  padding: 20px 40px;
  background: #2639ED;
  border-radius: 60px;
  color: white;
  margin-right: 10px;
  font-weight: 900;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.form_btn:hover {
  background: #1f2fcb;
}

.footer {
  padding-top: 100px;
  position: relative;
}

.footer_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 60px 0 29px;
  width: 100%;
  font-size: 14px;
}

.footer_row:before {
  content: "";
  width: 100%;
  height: 2px;
  background: #E4E4E4;
  position: absolute;
  top: 0;
}

.footer_row:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #F1F1F1;
  position: absolute;
  bottom: 0;
}

.copyright {
  width: 100%;
  text-align: center;
  color: #A4A4A4;
  padding: 17px 0;
}

.footer_text {
  width: 270px;
}
.footer_text p {
  line-height: 1.6;
  padding-top: 28px;
  color: #565656;
}

.footer_social {
  padding-top: 40px;
}
.footer_social img {
  margin-right: 10px;
}

.footer_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 794px;
  margin-left: 50px;
}

.footer_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer_block h4 {
  font-size: 20px;
  font-weight: 900;
  color: black;
  padding-bottom: 15px;
}
.footer_block a {
  color: black;
  line-height: 2.4;
}