@media (max-width: 1200px) {
  //clients//
  .clients {
    padding-bottom: 90px;
  }
  .clients_row {
    justify-content: space-between;
    align-items: center;
  }
  .clients_icon {
    flex-wrap: wrap;
    justify-content: center;
  }


}