@media (max-width: 1200px) {
  //header//
  .header_text {
    max-width: 418px;
  }
  //clients//
  .clients {

  }
  .clients_row {
    align-items: center;

  }
  .clients_icon {
    justify-content: flex-end;

    img {
      max-width: 135px;
    }
  }
  .clients_text {
    max-width: 360px;
  }
  //benefits//
  .bg_card {
    max-width: 894px;
  }

}

@media (max-width: 1050px) {

  .navigation-list li {
    margin-right: 35px;
  }
  //header//
  .header_title {
    margin-bottom: 15px;

  }
  .header_btm {
    margin-bottom: 15px;
    margin-top: 26px;
    font-size: 17px;
  }
  .section_title {
    font-size: 30px;
  }
  .section_subtitle {
    font-size: 17px;
  }

  //clients//
  .clients_text {
    max-width: 300px;
  }
  .clients_row img {
    max-width: 120px;
  }


  //benefit//
  .benefits_card {
    grid-gap: 20px;
    margin: 0;
  }
  .card_item {

  }

  .bg_card {
    max-width: 788px;
  }

  .img_block {
    padding: 12px;

    img {
      width: 60px;
      height: 60px;
    }
  }
  .card_title {
    margin-top: 26px;
    font-size: 19px;
    padding: 0 10px;
  }
  .card_subtitle {
    padding: 0 20px;
  }

  //awards//
  .awards_row {
    flex-direction: column-reverse;

  }
  .awards_text {
    text-align: end;
    max-width: inherit;
    margin-bottom: 35px;
    padding-left: 0;

  }
  //reviews//
  .reviews_catalog {
    align-items: center;
  }
  .catalog_active_row {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 314px;
  }
  .active_text {
    margin-top: 20px;
    margin-left: 0;
    border-radius: 0 30% 0 30%;

    h3 {
      margin-left: 0;
    }
  }
  .pink_ellipse_active {
    position: absolute;
    bottom: 161px;
    right: -41px;
  }
  //subscribe//
  .subscribe_row {
    justify-content: space-between;

  }
  .subscribe_text {
    padding-left: 40px;
  }

}

@media (max-width: 768px) {
  body.look {
    overflow: hidden;
  }

  //burger//
  .nav_burger {
    display: block;
  }
  .nav_burger.active::before {
    transform: rotate(45deg);
    top: 0;
    transition: 0.2s;
  }

  .nav_burger.active::after {
    transform: rotate(-45deg);
    bottom: 0;
    transition: 0.2s;
  }
  .burger span.active {
    background: white;
  }

  //nav//
  .navigation-list ul {
    position: fixed;
    top: -100%;
    right: 0;
    z-index: 1;
    flex-direction: column;
    background: white;
    padding: 10px 30px;
    align-items: flex-end;
  }

  .navigation-list ul.active {
    top: 37px;
    transition: 0.5s;

  }

  .navigation-list li {
    margin: 0;
    padding-bottom: 22px;

  }
  .navigation-list li:last-child {
    padding-bottom: 0;
  }

  //header//
  .header {
    padding-top: 108px;
  }
  .header_row {
    flex-direction: column
  }
  .header_text {
    margin-bottom: 19px;

    h1 {
      font-size: 35px;
      margin-bottom: 25px;
    }

    p {
      margin-bottom: 52px;
      font-size: 16px;
    }
  }
  .header_btm {
    margin: 0;
    padding: 13px 30px;
    font-size: 14px;
  }

  .dot_ornament_header {
    left: 79px;
    bottom: -108px;
    width: 100%;
    max-width: 328px;
  }

  .header_img {
    .ellipse {
      left: -26px;
      top: 75px;
      max-width: 89px;
    }

    .rectangle {
      bottom: -42px;

      max-width: 92px;
    }
  }
  //section//
  .section_title {
    font-size: 28px;
  }
  .section_subtitle {
    font-size: 16px;

  }

  //clients//
  .clients_text {
    max-width: 222px;
  }
  .clients_icon {
    flex-direction: column;


  }
  .clients_icon:last-child {
    margin-top: 0;
  }
}


