.awards_text {
  width: 100%;
  max-width: 565px;
  position: relative;
  padding-left: 50px;

  img {
    position: absolute;
    top: -10px;
    left: -31px;
    z-index: -1;
    transform: rotate(0deg);
  }
}