.form_btn {
  display: inline-block;
  padding: 20px 40px;
  background: $accent-ColorBlue;
  border-radius: 60px;
  color: white;
  margin-right: 10px;
  font-weight: 900;
  transition: background-color 0.2s ease-in;

}
.form_btn:hover{
  background: $accentActive-ColorBlue;
}