.nav {
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 100;
}

.nav_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  width: 100%;
  position: relative;

}
