.subscribe_form {
  width: 45%;
  position: unset;
  z-index: 1;
}


.subscribe_form:after {
  content: '';
  width: 461px;
  height: 272px;
  background: url("/img/rectangle_blue.svg") no-repeat;
  background-size: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;

}