.awards_text {
  width: 565px;
  position: relative;
}
.awards_text img {
  position: absolute;
  top: -10px;
  left: -31px;
  z-index: -1;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}